<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./js/vue.js"></script>
</head>
<body>
  <dic id="app">
    <input type="button" value="切换显示" @click="show">
    <p v-if="isShow">黑马</p>
    <p v-show="isShow">黑马</p>
    <h2 v-if="temp>=40">热死了</h2>
  </dic>
  <script>
    new Vue({
      el:"#app",
      data:{
        isShow:false,
        temp:4
      },
      methods:{
        show:function() {
          this.isShow = !this.isShow;
        }

      }
    })
  </script>
</body>
</html>